@{
    ViewData["Title"] = "Greetings!";
}

<div class="text-center row justify-content-center">    
    <div class="col-12 col-md-6 col-xl-4">
        <h1 class="display-4 mb-4">Welcome</h1>
        <p style="font-size:larger">
            I'm a student of Computer Science at Jagiellonian University, on a daily basis I learn and develop my skills with C#. I mainly work with the Web Applications in ASP.NET Core MVC and Desktop Applications in WPF. I would be honored to work as a junior programmer. I spend most of my time learning but sometimes when I have to take some free time I like to read books, go to the gym or play some video games. Programming is my huge passion and I’d love to have more opportunities to practice and expand my knowledge. Hence I’d like to thank you for visiting my website and I wish you all the best!
            <br /><br />Yours sincerely,<br /><strong>Wiktor Ziębka</strong>
        </p>
        <div class="imageMain">
            <img src="~/images/1633452127501.jpg" alt="Here should be my photo :)" />
        </div>
    </div>
</div>
