@{
    ViewData["Title"] = "Greetings!";
}

<div class="text-center row justify-content-center">    
    <div class="col-12 col-md-6 col-xl-4">
        <h1 class="display-4 mb-4">Welcome</h1>
        <p style="font-size:larger">
            My name is Wiktor and I'm a Passionate Fullstack .Net Developer with over two years of experience, excited to leverage a broad skill set in C#, ASP.NET
            Core, and Angular to contribute effectively. Strong background in maintaining and developing web applications, with a
            proven track record of innovation and problem-solving. My key achievements include designing and integrating a web
            application to work with 3D models using the THREE.JS and Angular with ASP.NET Backend. Eager to bring technical
            expertise and collaborative spirit to a dynamic team dedicated to pushing the boundaries of technology and creating
            impactful solutions.
            <br /><br />Yours sincerely,<br /><strong>Wiktor Ziębka</strong>
        </p>
        <div class="imageMain">
            <img src="~/images/1633452127501.jpg" alt="Here should be my photo :)" />
        </div>
    </div>
</div>
