@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<h5 style="color:#C226DC">Here should be private policy used by my company but due to my lack of company there are not any important informations because I don't collect any particularly crucial data.<br /> So my dear user, feel free to use this web site. Please, enjoy I hope quite funny meme :D</h5>

<div class="imagePolicy">
    <img src="~/images/0ec2b50ef04c84b9d3ea6ebe3b8e55dd.jpg" alt="Here should be my funny meme :)" />
</div>
