@{
    ViewData["Title"] = "Buy";
}


<div class="text-center row justify-content-center">
    <div class="col-12 col-md-6 col-xl-4">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>

        <h5 style="color:#000">Thank you for your willingness to buy this product. Unfortunately, this website is only made for educational purposes and we can't sell you the product you like.<br /> I hope you enjoyed using my website.</h5>
    </div>

</div>